Source: chwala
Section: web
Priority: extra
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Uploaders: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>, Paul Klos <kolab@klos2day.nl>
Build-Depends: debhelper (>= 8), quilt
Homepage: http://www.chwala.org/
Standards-Version: 3.9.3

Package: chwala
Architecture: all
Depends:
    php-http-request2,
    smarty3 (>= 3.1.7),
    roundcubemail,
    roundcubemail-plugins-kolab,
    ${misc:Depends}
Description: Glorified WebDAV, done right
 Chwala is a file storage suite purposed for integration in to other
 applications, and by default keeps your files as secure as your
 Kolab Groupware data.
