#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@

override_dh_install:
	dh_install -XLICENSE -X.gitignore

	# prepare for symbolic links, throw away unneeded code (same as in .spec file)
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/Auth
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/HTTP
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/Mail
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/Net
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/PEAR*.php
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/ext/Roundcube
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/kolab/plugins/kolab_auth
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/kolab/plugins/kolab_folders
	rm -rf $(CURDIR)/debian/chwala/usr/share/chwala/lib/kolab/plugins/libkolab

	if [ -d "$(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala" -a \
		-f "$(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala/chwala.conf" ]; then \
		mv -v $(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala/chwala.conf \
			$(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala.conf ; \
		rm -rvf $(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala/ ; \
		mv -v $(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala.conf \
			$(CURDIR)/debian/chwala/etc/apache2/sites-available/chwala ; \
	fi
